<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django学習</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/lobibox@1.2.7/dist/css/lobibox.min.css"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body>
    <div
      class="container-fluid vh-100 d-flex justify-content-center align-items-center bg-light"
    >
      <div class="card shadow" style="width: 400px">
        <div class="card-body p-5">
          <h1 class="card-title text-center text-primary mb-4">Django学習</h1>
          <form id="login-form-input" method="POST" action="/accounts/process/">
            <!-- placeholderはinput要素の中に表示される薄い文字 -->
            {% csrf_token %}
            <div class="mb-3">
              <input
                type="text"
                name="username"
                placeholder="ユーザー名"
                class="form-control"
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                name="password"
                placeholder="パスワード"
                class="form-control"
              />
            </div>
            <button type="submit" class="btn btn-primary w-100">
              ログイン
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- JavaScriptのコードはここに書く -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lobibox@1.2.7/dist/js/lobibox.min.js"></script>
    <script>
      $("form").on("submit", function (e) {
        // eは引数
        e.preventDefault(); //通常の通信を行わないで　という意味。　これによりajax通信のみが行われる

        $.ajax({
          url: "/accounts/process/", //djangoのurls.pyで設定したURL
          type: "POST", //POSTメソッドで送信 どのメソッドかを指定
          data: {
            // 送信するデータ
            username: $("input[name='username']").val(),
            password: $("input[name='password']").val(),
            csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          },

          success: function (response) {
            // 通信成功の時 httpが200で帰ってきた時　一つしか情報は返ってこないからパラメータは１つでいい。responseとしておくのが慣例
            Lobibox.notify("success", {
              msg: response.message, // views.pyのreturn JsonResponse({'status': 'success', 'message': 'ログインに成功しました。'})のmessageが入る
              position: "top right",
            });
            setTimeout(function() {
                window.location.href = "/"; // ホーム画面にリダイレクト
            }, 1000); // 1秒後にリダイレクト
          },

          error: function (xhr, status, error) {
            // 通信失敗の時 httpが400,500で帰ってきた時  3つ情報が返ってくるので3つパラメータが必要。 慣例的にxhr, status, errorとする
            Lobibox.notify("error", {
              msg: JSON.parse(xhr.responseText).message, // views.pyのreturn JsonResponse({'status': 'error', 'message': 'ユーザー名かパスワードが間違っています。'})のmessageが入る
              position: "top right",
            });
          },
        });
      });
    </script>
  </body>
</html>
