<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django学習</title>
  </head>
  <body>
    <div>
      <h1>Django学習</h1>
      <form id="loginForm">
        <!-- placeholderはinput要素の中に表示される薄い文字 -->
        <input type="text" id="username" placeholder="ユーザー名">
        <input type="password" id="password" placeholder="パスワード">
        <button type="button">ログイン</button>
      </form>
    </div>
    <!-- JavaScriptのコードはここに書く -->
    <scrips>
    </scrips>
  </body>
</html>
