<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django学習</title>
  </head>
  <body>
    <div>
      <h1>Django学習</h1>
        <form method="POST" action="/accounts/process/">        <!-- placeholderはinput要素の中に表示される薄い文字 -->
        {% csrf_token %}
        <input type="text" name="username" placeholder="ユーザー名">
        <input type="password" name="password" placeholder="パスワード">
        <button type="submit">ログイン</button>
      </form>
    </div>
    <!-- JavaScriptのコードはここに書く -->
    <script>
    </script>
  </body>
</html>
